<a href="{{movieHbs}}" class="movie-container">
  <div class="movie-card">    
      <h1 class="movie-title">{{title}}</h1>
      <h4 class="movie-year">{{year}}</h4>
      <h3 class="movie-director">{{director}}</h3> 
  </div>
</a>