<form action="/movie/search/results" class="search-movies" method="GET">
  <input type="text" class="search-input" name="title" placeholder="Search Movies">
  <button class="search-btn">Search</button>
</form>

