<div class="login-container container-fluid d-flex justify-content-center">
  <form action="/user/login" method="POST">
    <input type="text" required name="username" placeholder="username" />
    <input type="password" required name="password" placeholder="password" />
    <button type="submit">Login</button>
  </form>
</div>