{{!-- views/auth/signup.hbs --}}
  <div id="form" class="signup-container container-fluid d-flex justify-content-center align-items-center">
   <form action="/user/signup" class="signup-form form-inline my-2 my-lg-0" method="POST">
      <label for="name">Name: </label><br>
      <input type="text" required name="name" placeholder="Please enter your name">
      <label for="password"required>Password: </label><br>
      <input class="form-control mr-sm-2" name='password' type="password" placeholder="********" aria-label="Search">
      <button class="signup-btn btn btn-outline-success my-2 my-sm-0 search-btn" type="submit">Create account</button>
   </form>
</div>